<section class="border row category-section d-flex justify-content-around">
    <div class="mb-2 text-center col-12">
        <h1>Compra por categoría</h1>
        <hr class="hr-small mx-auto mb-4">
    </div>
    <div class="category-card col-md-3 d-flex">
        <img src="../../../assets/images/vela_aromatica.png" class="category-img px-auto" alt="Vela aromática">
        <div class="category-card-title d-flex justify-content-center">
            <h4>
                <span>Velas aromáticas</span>
            </h4>
            <fa-icon [icon]="faArrowRightLong" [size]="iconSize2x" class=""></fa-icon>
        </div>
    </div>
    <div class="category-card col-md-3 d-flex">
        <img src="../../../assets/images/vela_decorada.png" class="category-img" alt="Vela aromática">
        <div class="category-card-title d-flex justify-content-center">
            <h4>
                <span>Velas decoradas</span>
            </h4>
            <fa-icon [icon]="faArrowRightLong" [size]="iconSize2x" class=""></fa-icon>
        </div>
    </div>
    <div class="category-card col-md-3 d-flex">
        <img src="../../../assets/images/vela_artesanal.png" class="category-img" alt="Vela aromática">
        <div class="category-card-title d-flex justify-content-center">
            <h4>
                <span>Velas artesanales</span>
            </h4>
            <fa-icon [icon]="faArrowRightLong" [size]="iconSize2x" class=""></fa-icon>
        </div>
    </div>
</section>