<section class="row best-sellers-section">
    <div class="mb-2 text-center col-12">
        <h1>Velas más vendidas</h1>
        <hr class="hr-small mx-auto mb-4">
    </div>
    <div class="d-flex justify-content-around">
        <div class="candle-card d-flex border border-primary" id="candle-1"></div>
        <div class="candle-card d-flex border border-primary" id="candle-2"></div>
        <div class="candle-card d-flex border border-primary" id="candle-3"></div>
        <div class="candle-card d-flex border border-primary" id="candle-4"></div>
    </div>
</section>