
<header class="menu-header">
    <nav class="nav">
        <div class="col-md-4">
            <a class="navbar-brand " href="#">
                <img src="../../../assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="Candly">
                <span class="align-middle candly-title menu-title">Candly</span>
            </a>
        </div>
        <ul class="nav justify-content-end col-md-8">
            <li class="menu-item"><a href="#">Inicio</a></li>
            <li class="menu-item"><a href="#">Tienda</a>
                <ul>
                <li><a href="#">Velas</a></li>
                <li><a href="#">Velas aromáticas</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="#">Acerca de nosotros</a></li>
            <li class="menu-item"><a href="#">
                <img src="../../../assets/images/cart.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                <span class="cart-number-item shadow">0</span>
            </a></li>
            <li class="menu-item">
                <a href="#">
                    <img src="../../../assets/images/login.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>