<section class="row section-benefits d-flex justify-content-around mx-0">
    <div class="mb-2 text-center col-12">
        <h1>¿POR QUÉ ELEGIRNOS?</h1>
        <hr class="hr-small mx-auto mb-2">
    </div>
    <div class="card-benefits">
        <div class="icon-header">
            <div class="rounded-circle icon-benefits mx-auto">
                <fa-icon [icon]="faTruckFast" [size]="iconSize3x"></fa-icon>
            </div>
        </div>
        <div class="description-benefit">
            <div class="title-benefits text-center">
                <h5>
                    <span>Envíos rápidos</span>
                </h5>
            </div>
            <div class="text-benefits">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
            </div>
            
        </div>
    </div>
    <div class="card-benefits">
        <div class="icon-header">
            <div class="rounded-circle icon-benefits mx-auto">
                <fa-icon [icon]="faWallet" [size]="iconSize3x"></fa-icon>
            </div>
        </div>
        <div class="description-benefit">
            <div class="title-benefits text-center">
                <h5>
                    <span>Compras seguras</span>
                </h5>
            </div>
            <div class="text-benefits">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
            </div>
            
        </div>
    </div>
    <div class="card-benefits">
        <div class="icon-header">
            <div class="rounded-circle icon-benefits mx-auto">
                <fa-icon [icon]="faAward" [size]="iconSize3x"></fa-icon>
            </div>
        </div>
        <div class="description-benefit">
            <div class="title-benefits text-center">
                <h5>
                    <span>Materiales de gran calidad</span>
                </h5>
            </div>
            <div class="text-benefits">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
            </div>
            
        </div>
    </div>
    <div class="card-benefits mx-2">
        <div class="icon-header">
            <div class="icon-benefits mx-auto">
                <div class="icon-container">
                    <fa-icon [icon]="faCertificate" [size]="iconSize3x" class="icon1"></fa-icon>
                    <fa-icon [icon]="faPercent" class="icon2"></fa-icon>
                  </div>
            </div>
        </div>
        <div class="description-benefit">
            <div class="title-benefits text-center">
                <h5>
                    <span>Muchos descuentos</span>
                </h5>
            </div>
            <div class="text-benefits">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
            </div>
            
        </div>
    </div>
</section>